*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family:Roboto, sans-serif;
  background-color:#0D0D0D;
  color:#FFFFFF;
}
h1{
  font-size:2.5rem;
}
h1,h2{
  text-align:center;
  font-weight:300;
  margin-top:0.8rem;
}
hr{
  width:18.75rem;
  margin:0.9rem auto;
}
#container{
  max-width:61.25rem;
  margin:1.25rem auto;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  margin:1.25rem;
  padding:0.28rem;
}
.card{
  flex:1 0 12.5rem;
  margin:0.62rem;
}
.card-image{
  display:block;
  height:22rem;
  background-size:cover;
  background-position: center;
  box-shadow:0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  transition:all 500ms ease-in;
  filter:grayscale(100%);
}
.card-image:hover{
  filter:grayscale(0%);
}
.card-image.card-1{
  background-image:url(https://images.unsplash.com/photo-1512100356356-de1b84283e18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2507&q=80);
}
.card-image.card-2{
  background-image:url(https://images.unsplash.com/photo-1541323474343-589d15554a63?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=740&q=80);
}
.card-image.card-3{
  background-image:url(https://images.unsplash.com/photo-1528759335187-3b683174c86a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
}
.card-image.card-4{
  background-image:url(https://images.unsplash.com/photo-1583855282680-6dbdc69b0932?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
}
.card-image.card-5{
  background-image:url(https://images.unsplash.com/photo-1522093007474-d86e9bf7ba6f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80);
}
.card-image.card-6{
  background-image:url(https://images.unsplash.com/photo-1499856871958-5b9627545d1a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1720&q=80);
}

.mouse__cursor{
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: -1px 1px 20px aquamarine;
  pointer-events: none;
  transition: background-color 0.3s, border-color 0.3s, transform 0.6s;
}